* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


   }   
   
  h6, colora {
    margin-right: 10px;  
    width: 80px;
      font-weight: bold;
      color: aliceblue;
      
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  
 .contenedorheader{
    

    display: flex; 
    align-items: center;
    
    
 }  
.imglogocabecera, .imgbuscar{
    height: 50px;
    width: 50px;
   
 }

 

 .imglogoempresa{
    height: 120px;
    width: 250px;
    margin-left: 150px;

 }

 .RedesSociales{
    margin-left: 830px;
    display: flex;
    align-items: center;   
    justify-content: space-between;
}

.h6Email {
    margin-left: 8px;
}
.h6Telefono {
    margin-left: 8px;
}

.Email{
    
    margin-left: 20px;
    display: flex;
    align-items: center;   
    justify-content: space-between;
}

.Telefono{

    display: flex;
    align-items: center;   
    justify-content: space-between;
}

 header {
 
    background-image: radial-gradient(circle at 48.68% 65.04%, #dde7db 0, #d4e3d5 7.14%, #c8decf 14.29%, #b9d8c8 21.43%, #a8d1c2 28.57%, #94cabd 35.71%, #7cc1b8 42.86%, #60b8b4 50%, #3caeb2 57.14%, #00a5b2 64.29%, #009db3 71.43%, #0095b6 78.57%, #008db9 85.71%, #0087bc 92.86%, #0080bf 100%);
    
}

.contenedor2{
    display: flex;
    
    height: 125px;
}

.Logo{
    width: 200px;
    display:flex;
  
    /*background-color:orange;*/
}
.Buscar{

    margin-left: 150px; 
    display:flex;
    height: 100px;
    margin-top: 70px;
    
}


.txtbuscar{
  width: 450px;  
  height: 40px; 
  font-size:small;
  margin-left: -15px; 
  border-radius: 15px;
  border-style:none;
  border-color:red;
  color:#7cc1b8;
    font-weight: bold;
  font-size: x-large;
  

  
}
.btnacceso{
 margin-left: 60px;
 border-radius: 10px;
 color: white;
 height: 50px;
 width: 120px;
 background-color: crimson;
}

.contenedorpie{
     display: flex;
    height: 200px;     
    
    background-image: radial-gradient(circle at 48.68% 65.04%, #dde7db 0, #d4e3d5 7.14%, #c8decf 14.29%, #b9d8c8 21.43%, #a8d1c2 28.57%, #94cabd 35.71%, #7cc1b8 42.86%, #60b8b4 50%, #3caeb2 57.14%, #00a5b2 64.29%, #009db3 71.43%, #0095b6 78.57%, #008db9 85.71%, #0087bc 92.86%, #0080bf 100%);
}

.imgfooter{
    height: 150px;
    width: 150px;    
 }

 .imgreclamacion{
    height: 80px;
    width: 100px;    
 }

 .contenedorimagenpie{
     display: flex;
     width: 600px;
        margin-left: 300px;

     align-items: center;
        justify-content: space-between;
       
 }

.contenedor {
    display: flex;
    height: 100%;

}

p {
    color: #f5f5f6;
    font-weight: bold;

}

.principal {
    display: flex;
    height: 90%;

}


main {
    
    height: 100%;
    width: 100%;
    /* trabaja en 2 dimensiones */
    display: grid;
    /* cuantas columnas quiero, explicito*/
    grid-template-columns: repeat(5, 1fr);
    /* No se exactamente cuantas filas tendre, implicito */
    grid-auto-rows: 400px;
    padding: 20px;
    /* separación entre elementos de grid */
    gap: 10px;
}

.producto {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    
}

.img-top {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;

}

  
  .img-top:hover {
    transform: scale(1.15);
    transition: all 0.6s;
  }
  
.text-bottom {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
}

.text-bottom > * {
    margin: 5px 0;
}

.prod-info {
    display: flex;
    justify-content: space-between;
}

.prod-info button {
    background-color: steelblue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.btnoperacion{
    width:150px;
    margin-left: 3px;
    font-weight: bold;
}

.contenedoroperaciones{
        
    background-color:azure;
        border-radius: 30px;
    height: 60px;
    width: 800px;
    display:flexbox;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 180px;
    align-content: center; 
    justify-content: space-between;
}

.btnoperaciones{
    
		width:15%;
		
		
}
.title-product {
    color: white;
    position: relative;
  }
  
  .title-product:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  }


.divusuario{
    margin-left: 270px;
    margin-top: 60px;
    
}

.cajastextonombre {
    width : 330px;
    margin-left: 100px;
}
 
.cajastextodescripcion{
    width : 330px;
    margin-left: 75px;
}
.cajastextoprecio{
    width : 330px;
    margin-left: 112px;
}
.cajastextocategoria{
    width : 330px;
    margin-left: 85px;
}
.labelalinear  {
    margin-left: 30px;
}
.tabladatos{
    margin-left: 550px;
    margin-top: -300px;
}

.portada{

        height: 180px;
    width: 210px;
    margin-left: 800px;
    margin-top: -200px;

    
}

.imagenportada{
    width: 200px;
    height: 180px;
    border-radius: 5px;
    
}

.colorletra{    
      color: rgb(14, 143, 218);
}
.btnmargen{
    margin-left: 112px;
}

.colorletraoc{
    color: black;
}

.btncompraroc {
    margin-left: -165px ;
 margin-top: -660px ;
}


@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(90deg);}}

  .imglogoefecto{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


